body, .modal-content {
    background-color: #00B3DB;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: underline;
}
a:hover {
    color: #ffffffcc;
}

#mapContainer {
    background-color: #202020;
}

#map {
    height: 600px;
}
